// Sequencing-mode profiles; combine with -profile slurm,<mode>.
// WES: -profile slurm,<kit>; add dupcaller only for xGen UDSeq.

profiles {

    // wgs mode: no capture intervals and no UMI consensus
    wgs {
        params {
            genome    = true
            skip_bqsr = false
            kit_name  = 'WGS'
        }
    }

    agilent_v6 {
        params {
            kit_name             = 'Agilent SureSelect Human All Exon v6'
            intervals_bed        = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/S07604514_hg38/S07604514_Regions.sorted.bed'
            padded_intervals_bed = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/S07604514_hg38/S07604514_Regions.padded50bp.bed'
            bait_intervals       = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/S07604514_hg38/S07604514_Covered.bed'
            target_intervals     = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/S07604514_hg38/S07604514_Regions.sorted.bed'
            off_target           = true
        }
    }

    agilent_v7 {
        params {
            kit_name             = 'Agilent SureSelect Human All Exon v7'
            intervals_bed        = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/S31285117_hg38/S31285117_Regions.sorted.bed'
            padded_intervals_bed = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/S31285117_hg38/S31285117_Regions.padded50bp.bed'
            bait_intervals       = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/S31285117_hg38/S31285117_MergedProbes.bed'
            target_intervals     = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/S31285117_hg38/S31285117_Regions.sorted.bed'
            off_target           = true
        }
    }

    agilent_v8 {
        params {
            kit_name             = 'Agilent SureSelect All Exon v8'
            intervals_bed        = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/S33266436_hg38/S33266436_Regions.sorted.bed'
            padded_intervals_bed = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/S33266436_hg38/S33266436_Regions.padded50bp.bed'
            bait_intervals       = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/S33266436_hg38/S33266436_MergedProbes.bed'
            target_intervals     = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/S33266436_hg38/S33266436_Regions.sorted.bed'
            off_target           = true
        }
    }

    twist_v2 {
        params {
            kit_name             = 'Twist Exome 2.0'
            intervals_bed        = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/twist_exome_2.0/hg38_exome_v2.0.2_targets_sorted_validated.re_annotated.sorted.bed'
            padded_intervals_bed = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/twist_exome_2.0/hg38_exome_v2.0.2_targets_sorted_validated.re_annotated.padded50bp.bed'
            bait_intervals       = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/twist_exome_2.0/hg38_exome_v2.0.2_targets_sorted_validated.re_annotated.sorted.bed'
            target_intervals     = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/twist_exome_2.0/hg38_exome_v2.0.2_targets_sorted_validated.re_annotated.sorted.bed'
            off_target           = true
        }
    }

    xgen_exome_v2 {
        params {
            kit_name             = 'IDT xGen Exome Hyb Panel v2'
            intervals_bed        = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/xGen_exome_hyb_panel_v2_hg38/xgen-exome-hyb-panel-v2-targets-hg38.sorted.bed'
            padded_intervals_bed = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/xGen_exome_hyb_panel_v2_hg38/xgen-exome-hyb-panel-v2-targets-hg38.padded50bp.bed'
            bait_intervals       = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/xGen_exome_hyb_panel_v2_hg38/xgen-exome-hyb-panel-v2-probes-hg38.sorted.bed'
            target_intervals     = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/bed_files/xGen_exome_hyb_panel_v2_hg38/xgen-exome-hyb-panel-v2-targets-hg38.sorted.bed'
            off_target           = true

            // xGen UDSeq uses fixed 8 bp inline UMIs on both reads.
        }
    }

    dupcaller {
        params {
            dupcaller = true
        }
    }

}
