// HPC cluster paths and runtime settings

workDir = '/sc-scratch/sc-scratch-cc12-ag-romagnani/nf_work_imprint'

env {
    APPTAINER_TMPDIR   = '/sc-scratch/sc-scratch-cc12-ag-romagnani/nf_work_imprint'
    APPTAINER_CACHEDIR = '/sc-scratch/sc-scratch-cc12-ag-romagnani/apptainer_cache'
}

apptainer.enabled    = true
apptainer.autoMounts = true
apptainer.cacheDir   = '/sc-scratch/sc-scratch-cc12-ag-romagnani/apptainer_cache'

params {

    // core resources

    ref_fasta      = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/genome/GRCh38_no_alt_analysis_set.fasta'
    genome_fai     = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/genome/GRCh38_no_alt_analysis_set.fasta.fai'
    ref_dict       = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/genome/GRCh38_no_alt_analysis_set.dict'
    bwa_mem3_index = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/genome/bwa-mem3/GRCh38_no_alt_analysis_set.fasta'

    // Keep these beside the FASTA they were built from. The filenames must match
    // it, and Nextflow stages FASTA and h5 into the same task directory, which is
    // where DupCaller resolves {reference}.ref.h5 from.
    dupcaller_ref_h5 = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/genome/GRCh38_no_alt_analysis_set.fasta.ref.h5'
    dupcaller_tn_h5  = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/genome/GRCh38_no_alt_analysis_set.fasta.tn.h5'
    dupcaller_hp_h5  = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/genome/GRCh38_no_alt_analysis_set.fasta.hp.h5'
    dupcaller_str_h5 = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/genome/GRCh38_no_alt_analysis_set.fasta.str.h5'
    dupcaller_dbs_h5 = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/genome/GRCh38_no_alt_analysis_set.fasta.dbs.h5'
    // A config list or comma-separated CLI value; every BED requires a .tbi.
    // Leaving this empty is not neutral: effectiveMaxZeroQualFraction() in main.nf
    // drops the maximum zero-quality fraction from 0.5 to 0.1 when no mask is set.
    dupcaller_noise_masks = [
        '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/udseq/noise/NOISE_GRCh38.rens.bed.gz',
        '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/udseq/noise/SNP_GRCh38.rens.bed.gz',
    ]
    dupcaller_indel_epon = null

    // GATK bundle
    gnomad_germline_resource_vcf = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/gnomAD/gnomad.germline_resource.v4.1.1.hg38.vcf.gz'
    dupcaller_germline_vcf       = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/gnomAD/gnomad.germline_resource.v4.1.1.hg38.vcf.gz'
    gnomad_pileup_summaries_vcf  = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/gnomAD/gnomad.pileup_summaries.v4.1.1.hg38.vcf.gz'
    dbsnp              = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/gatk_bundle/dbsnp_156.hg38.chr.vcf.gz'
    known_indels_mills = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/gatk_bundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
    known_snps_1000g   = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/gatk_bundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
    pon_vcf            = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/gatk_bundle/1000g_pon.hg38.vcf.gz'  // bulk callers only

    // vep/cosmic annotation
    vep_cache          = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/vep/cache/'
    vep_plugins_dir    = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/vep/vep_plugins/'
    alphamissense_tsv  = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/vep/AlphaMissense/AlphaMissense_hg38.tsv.gz'
    dbnsfp_gz          = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/vep/dbNSFP/dbNSFP5.4a_grch38.gz'
    spliceai_snv_vcf   = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/vep/spliceai/spliceai_scores.masked.snv.ensembl_mane_v1.4.grch38.vcf.gz'
    spliceai_indel_vcf = null
    gnomad_exomes_vep_vcf  = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/gnomAD/gnomad.exomes.v4.1.1.af_only.vcf.gz'
    gnomad_genomes_vep_vcf = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/gnomAD/gnomad.genomes.v4.1.1.af_only.vcf.gz'
    cosmic_vcf            = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/vep/COSMIC/Cosmic_GenomeScreensMutant_v104_GRCh38.vcf.gz'
    cosmic_noncoding_vcf  = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/vep/COSMIC/Cosmic_NonCodingVariants_v104_GRCh38.vcf.gz'

    // qc resources
    verifybamid2_svd     = '/usr/local/share/verifybamid2-2.0.2-0/resource/exome/1000g.phase3.10k.b38.exome.vcf.gz.dat'
    verifybamid2_svd_wgs = '/usr/local/share/verifybamid2-2.0.2-0/resource/1000g.phase3.100k.b38.vcf.gz.dat'
    somalier_sites       = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/qc_tools/somalier/sites.hg38.vcf.gz'

    // core containers
    container_align        = '/sc-scratch/sc-scratch-cc12-ag-romagnani/apptainer_cache/align_process_env.sif'
    // Image filename carries the manifest version and source commit.
    container_dupcaller    = '/sc-scratch/sc-scratch-cc12-ag-romagnani/apptainer_cache/dupcaller_1.1.2-dev53eb785.sif'
    container_samtools     = 'quay.io/biocontainers/samtools:1.23.1--ha83d96e_0'
    container_fastp        = 'quay.io/biocontainers/fastp:1.3.5--h43da1c4_0'
    container_gatk         = 'broadinstitute/gatk:4.6.2.0'
    container_strelka      = 'quay.io/biocontainers/strelka:2.9.10--h9ee0642_1'
    container_manta        = 'quay.io/biocontainers/manta:1.6.0--py27h9948957_6'
    container_deepsomatic  = 'docker://google/deepsomatic:1.10.0-gpu'
    container_bcftools     = 'quay.io/biocontainers/bcftools:1.23.1--hb2cee57_0'
    container_vafator      = 'quay.io/biocontainers/vafator:3.0.0--pyhdfd78af_0'
    container_varlociraptor = 'quay.io/biocontainers/varlociraptor:8.9.5--h24073b4_0'
    container_vep          = 'ensemblorg/ensembl-vep:release_116.0'
    container_somalier     = 'quay.io/biocontainers/somalier:0.3.2--h5205c93_0'
    container_mosdepth     = 'quay.io/biocontainers/mosdepth:0.3.14--h05c3d44_0'
    container_verifybamid2 = 'quay.io/biocontainers/verifybamid2:2.0.2--hc004090_0'
    container_multiqc      = 'quay.io/biocontainers/multiqc:1.34--pyhdfd78af_0'

    // optional resources, only accessed if specific --extras flags are provided

    // --extras hla,kir
    hla_reference = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/characterisation/optitype/hla_reference_dna.fasta'
    kirmapper_db  = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/characterisation/kir-mapper/kir-mapper_db_latest'
    container_yara         = 'quay.io/biocontainers/mulled-v2-f13549097a0d1ca36f9d4f017636fb3609f6c083:de7982183b85634270540ac760c2644f16e0b6d1-0'
    container_optitype     = 'quay.io/biocontainers/mulled-v2-f3579993d544920cc7c09e8ddf77569e95ea8950:d3ee2331cb4615915b1eda5d23f231da6b0741d7-0'
    container_kir_mapper   = '/sc-scratch/sc-scratch-cc12-ag-romagnani/apptainer_cache/kir-mapper_env.sif'

    // --extras pathseq
    pathseq_host_fai     = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/characterisation/pathseq/host/GRCh38_no_alt_analysis_set.no_chrEBV.fasta.fai'
    pathseq_host_img     = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/characterisation/pathseq/host/GRCh38_no_alt_analysis_set.no_chrEBV.fasta.img'
    pathseq_host_hss     = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/characterisation/pathseq/host/GRCh38_no_alt_analysis_set.no_chrEBV.hss'
    pathseq_microbe_fai  = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/characterisation/pathseq/microbe/viral_refseq.fasta.fai'
    pathseq_microbe_img  = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/characterisation/pathseq/microbe/viral_refseq.fasta.img'
    pathseq_microbe_dict = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/characterisation/pathseq/microbe/viral_refseq.dict'
    pathseq_taxonomy     = '/sc-projects/sc-proj-cc12-ag-romagnani/ref/imprint/characterisation/pathseq/taxonomy/viral_refseq.pathseq_taxonomy.db'

    // --extras mixcr
    container_mixcr        = 'ghcr.io/milaboratory/mixcr/mixcr:4.7.0'

    // --extras telseq
    container_telseq       = 'quay.io/biocontainers/telseq:0.0.2--h06902ac_8'
}
